



<div class="" ng-controller="AlertWorkflowCtrls">
	<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-primary addworkflow"
		data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" 
		>+ Alert WorkFlow</button>
	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<form name="myForm">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title color1 font22">Alert WorkFlow</h4>
					</div>
					<div class="modal-body" style="height: 550px;">
						<div class="topHelp">
							click on <span class="helpArrowHeight">&#8595;&#8594; </span> to
							move to next step
						</div>
						<div ng-show="showError" class="errorLogin">
							<span class="error"> {{errorMessage}} </span>
						</div>
						<br>

						<div class="iotwfcontainer">
							<!-- Start div starts here -->

							<div id="startoval">
								<div class="color4 font16">Start</div>
							</div>

							<!-- Start div ends here -->

							<!-- Start arrow starts here -->
							<div class="arrowheight cursor">
								<div class="arrow" ng-click="toggeleProjectProcess();">
									<span>&#8595;</span>
								</div>
							</div>
							<div id="coachMarks">
								<div id="coachMarksMsg" class="color1" ng-show="showHelp" >
									{{helpMessage}}
									<div class="helpArrow">
										<i class="fa fa-long-arrow-right fa-3x "
											ng-click="helpArrow();" aria-hidden="true"></i> 
									</div>




								</div>

								<div class="quewrap" title="help">
									<i class="fa fa-question-circle que" ng-click="toggleHelp();"
										aria-hidden="true"></i>
								</div>
							</div>

							<!-- Select project div starts here -->
							<div id="process_proj" class="floatL" ng-show="hideProject">
								<div class="color4 font16">Select Project</div>
								<div>

									<select name="project_id" id="dropdown"
										ng-model="projectIDAlert" ng-change="onAssetChange();"
										class="Sitedropdown"
										ng-options="project.projectIDAlert as project.projectName for project in projects"
										required>
										<option value="">Select Project</option>
									</select>


								</div>
							</div>
							<!-- Select project div ends here -->

							<!-- Select project arrow ends here -->
							<div class="arrowwidth1 floatL cursor" ng-show="hideProject">
								<div class="arrow1" ng-click="toggeleAssetProcess();">
									<span align="center" text="next">&#8594;</span>
								</div>

							</div>
							<!-- Select project arrow ends here -->

							<!-- Select assets div starts here -->
							<div id="process_assets" class="floatL" ng-show="hideAsset">
								<div class="color4 font16">Select Asset</div>
								<div>
									<select name="asset_id" id="dropdown" ng-model="assetIDAlert"
										ng-change="onSensorChange();" class="Sitedropdown"
										ng-options="asset.assetIDAlert as asset.assetName for asset in assets"
										required>
										<option value="">Select Asset</option>
									</select>
								</div>
							</div>
							<!-- Select assets div ends here -->


							<div class="arrowwidth1 floatL cursor" ng-show="hideAsset">
								<div class="arrow1" ng-click="toggleSensorProcess();">
									<span align="center" text="next">&#8594;</span>
								</div>
							</div>
							<!-- Select assets arrow ends here -->
							<!-- Select sensor div starts here -->
							<div class="iotwfcontainer">
								<div id="process_sensor" class="floatL" ng-show="hideSensor">
									<div class="color4 font16">Select Sensor</div>
									<div>

										<select name="sensor_id" id="dropdown"
											ng-model="sensorIDAlert" ng-change="onChange();" class="Sitedropdown"
											ng-options="sensor.sensorIDAlert as sensor.sensorName for sensor in sensors"
											required>
											<option value="">Select Sensor</option>
										</select>

									</div>
								</div>
								<!-- Select sensor arrow ends here -->
								<div class="arrowheight cursor" ng-show="hideSensor">
									<div class="arrow2" ng-click="toggleDiamond();">
										<span>&#8595;</span>
									</div>
								</div>
								<div class="whitepatch"></div>
								<div class="blackline" ng-show="hideDiamond"></div>
								<div class="arrowheight">
									<div class="arrow3" ng-show="hideDiamond">
										<span>&#8595;</span>
									</div>
								</div>
							</div>
							<!-- Select sensor arrow ends here -->

							<!-- Select sensor div ends here -->

							<div class="iotwfcontainer">
								<!-- Enter Temp less div starts here -->
								<div id="diamond" ng-show="hideDiamond">
									<div id="diamondcontent">
										<div class="color4 font16">Min Threshold</div>
										<div>
											<input type="number" id="dropdown" name="defaultProject" min="0"
												required placeholder="<=" ng-model="tempMinAlert">
										</div>
									</div>
								</div>
								<!-- Enter Temp less div ends here -->
								<div class="blackline1" ng-show="hideDiamond"></div>
								<div class="blackline2" ng-show="hideDiamond"></div>
								<div class="blackline3" ng-show="hideDiamond"></div>
								<!-- Enter Temp higher div starts here -->
								<div id="diamond1" ng-show="hideDiamond">
									<div id="diamondcontent">
										<div class="color4 font16">Max Threshold</div>
										<div>
											<input type="number" id="dropdown" name="defaultProject" min="0"
												required placeholder=">=" ng-model="tempMaxAlert">
										</div>
									</div>
								</div>
								<!-- Select assets arrow ends here -->
								<div class="arrowwidth floatL cursor" ng-show="hideDiamond"
									ng-click="toggleNotification();">
									<div class="arrow4">
										<span align="center" text="next">&#8594;</span>
									</div>
								</div>
								<!-- Select assets arrow ends here -->
								<!-- Enter Temp higher div ends here -->

								<!-- Select Notification type div starts here -->
								<div id="process_Notitype" class="floatL"
									ng-show="hideNotification">
									<div class="color4 font16">Number of occurrences</div>
									<input type="number" id="dropdown" name="defaultProject"
										ng-model="noofOccAlert" placeholder="Number" required>
									<div></div>
								</div>
								<!-- Select Notification type div ends here -->

								<!-- Select assets arrow ends here -->
								<div class="arrowwidth floatL cursor" ng-show="hideNotification"
									ng-click="toggleNotificationValue(); ">
									<div class="arrow5">
										<span align="center" text="next">&#8594;</span>
									</div>
								</div>

								<!-- Select assets arrow ends here -->

								<!-- Select Notification value div starts here -->
								<div id="process_value" class="floatL"
									ng-show="hideNotificationValue">
									<div class="color4 font16">Notification Type</div>
									<div>
										<select id="dropdown" ng-model="notificationTypeAlert" required>
											<option value="">Select notification</option>
											<option>Push Notification</option>

										</select> <span class="error"
											ng-show="myFormasset.notification_id.$dirty && myFormnotification.notification_id.$invalid">Select
											asset</span>
									</div>
								</div>
								<!-- Select Notification value div ends here -->
								<!-- Start arrow starts here -->
								<div class="arrowheight cursor" ng-show="hideNotificationValue">
									<div class="arrow6" ng-click="toggleEnd();">
										<span>&#8595;</span>
									</div>
								</div>
								<!-- Start arrow ends here -->
								<!-- End div starts here -->
								<div id="endovalalert" ng-show="hideEnd"
									ng-click="getAllInformation();">
									<div class="color4 font16">End</div>
								</div>
								<!-- End div ends here -->

							</div>



						</div>

					</div>
					<div class="form-group wrkwrap">
						<button type="button" class="btn btn-secondary wrkcancel"
							data-dismiss="modal" ng-click="reloadPage();">Close</button>
						<button type="submit" class="btn btn-primary wrkok"
							ng-click="getAllInformationAlerts()"
							ng-disabled="myForm.$invalid">Save</button>
						<div class="clear"></div>
					</div>


					<!--<div class="modal-footer">
						<button type="button" class="btn btn-lg" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-lg">Reset</button>
						<button type="button" class="btn btn-lg"
							ng-click="getAllInformationAlerts();reload();">Save</button>
							
							
					</div>-->
			</form>
		</div>
		</form>
	</div>
</div>

</div>





<div class="modal fade" id="centralModalSuccess_for_add" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
	ng-controller="AlertWorkflowCtrls">
	<div class="modal-dialog-msg modal-notify modal-success"
		role="document">
		<!--Content-->
		<div class="modal-content">
			<!--Header-->
			<!--  <div class="modal-header">
                <p class="heading lead">Modal Success</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            -->

			<!--Body-->
			<div class="modal-body">
				<div class="text-center">
					<i class="fa fa-check-circle fa-4x mb-3 animated color14"></i>
					<!--<i class="fa fa-check-circle" ></i> -->
					<p class="font16 successmsg">Alert Workflow Added Successfully.</p>
				</div>
			</div>

			<!--Footer-->
			<div class="okbtn">
				<!-- <a type="button" class="btn btn-primary-modal">Get it now <i class="fa fa-diamond ml-1"></i></a> -->
				<a type="button" class="btn" data-dismiss="modal"
					ng-click=" reloadPage()">Ok</a>

			</div>
		</div>
		<!--/.Content-->
	</div>
</div>

