<div id="kpiSummaryPanel" class="panel panel-custom"><div class="panel-heading">
	<div class="panel-title" id="kpiSummaryTitle">		
			KPI SUMMARY <a href="#" title="Excelreport" onClick="return false;"><i
				class="fa fa-file-excel-o fa-12x excel-pointer" aria-hidden="true"></i>EXCEL
				REPORT</a>		
	</div>
	<hr>


	<div class="panel-body" id="kpiSummayPanelbody">
		<div class="page-content">
			<div class="tile-container bg-grayDarker">
				<div class="grid">
					<div class="row cells2">
						<!--First row-->
						<div class="cell">

							<!--Fleet Status-->
							<div class="tile bg-red fg-white" data-role="tile"
								data-effect="slideUpDown">
								<div class="tile-content">
									<div class="live-slide">
										<div class="notice bg-red">
											<div class="notice">
												<br>
												<h2>95</h2>
												<div class="tile-label">CRITICAL ALERTS</div>
											</div>

										</div>
									</div>
									<div class="live-slide">
										<div class="tile-content iconic bg-red">
											<span class="icon mif-tools"></span>
											<div class="tile-label">CRITICAL ALERTS</div>
										</div>
									</div>

								</div>
							</div>


							<!--In transit-->
							<div class="tile bg-orange fg-white" data-role="tile"
								data-effect="slideUpDown">
								<div class="tile-content">
									<div class="live-slide">
										<div class="notice bg-orange">
											<div class="notice">
												<br>
												<h2>72</h2>
												<!--<h6 class="quntyMsrmnt">ft</h6>-->
												<div class="tile-label">WATER CAPACITY(ft)</div>
												<!--<h6>in the past 5 mins</h6>-->
											</div>

										</div>
									</div>

									<div class="live-slide">
										<div class="tile-content iconic orange">
											<span class="icon mif-chart-bars"></span>
											<div class="tile-label">WATER CAPACITY</div>
										</div>
									</div>

								</div>

							</div>
							<!--Backlog Status-->
							<div class="tile bg-teal fg-white" data-role="tile"
								data-effect="slideUpDown">
								<div class="tile-content">
									<div class="live-slide">
										<div class="notice bg-teal">
											<div class="notice">
												<br>
												<h3>328</h3>
												<!--<h6 class="quntyMsrmnt">mhz</h6>-->
												<div class="tile-label">WATER DISCHARGE(mhz)</div>
												<!--<h6>in the past 1 month</h6>-->
											</div>

										</div>
									</div>

									<div class="live-slide">
										<div class="tile-content iconic bg-teal">
											<span class="icon mif-chart-line"></span>
											<div class="tile-label">WATER DISCHARGE</div>
										</div>
									</div>

								</div>

							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div>