<div class="panel-body" ng-controller="siteController">
<div class="col-md-6">
		<table class="table">
			<tbody>
				<tr>
					<td><b>Site Location</b></td>
					<td>{{locationName}}</td>
				</tr>
				<tr>
					<td><b>Site	Created</b></td>
					<td>22-04-2017</td>
				</tr>
				<tr>
					<td><b>Last	Maintainance Date</b></td>
					<td>23-04-2017</td>
				</tr>
				<tr>
					<td><b>Upcoming	Maintainance Date</b></td>
					<td>24-04-2017</td>
				</tr>
				<tr>
					<td><b>Capacity	Of Site</b></td>
					<td>100 cubic/m</td>
				</tr>
				<tr>
					<td><b>Last	Audit</b></td>
					<td>24-04-2017</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="col-md-6">
		<div class="sitePic">
				<img id="myImg" class="img-responsive-dec1" src="image/Mumbai.jpg">
		</div>
		</div>
	</div>


<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

